
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

body{
    background-color: rgb(211, 211, 211);
}

header{
    background-color: black;
    position: sticky;
    height: 70px;
    color: aliceblue;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 12.5px;
    box-shadow: rgba(255, 255, 255, 0.35) 0px -35px 21px -13px inset;
}

nav{
    display: flex;
    align-items: center;
    text-align: center;
}

ul{
    list-style: none;
    align-items: center;
    display: flex;
}

#options{
    align-items: center;
    display: flex;
}

li{
    padding: 5px;
    margin: 0 7.5px 0 7.5px;;  
}

li a{
    color: aliceblue;
    text-decoration: none;
}

.pages_nav a:hover{
    color: rgb(120, 140, 255);
    transition: 0.5s;
}

.main_content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 70px);
}

.message_content{
    padding: 70px;
    background-color: black;
    color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

form{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    min-height: 240px;
    background-color: black;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding: 10px;
    border-radius: 25px;
}

form p{
    padding: 5px;
}

form h2{
    margin-bottom: 15px;
}

form button{
    padding: 5px;
}

input{
    width: 75%;
    padding: 5px;
    margin-bottom: 15px;
}

@media screen and (max-width: 400px) {    
    body{
        height: 100vh;
    }
}